<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-default}">
<head>
    <title th:text="#{admin.default.admin.channel}">채널관리</title>
</head>

<body>
    <div class="col-xs-12 col-sm-9" layout:fragment="~{admin}">
        <h3 class="idx-h3 idx-h3-frst" th:text="#{admin.channel.remove.title}">채널정보 삭제</h3>

        <div class="row">
            <div class="col-xs-12">
                <p th:utext="#{admin.channel.remove(${channel.channelName})}">채널 삭제 메세지</p>

                <form th:action="@{~/admin/channel/del}" method="post">
                    <input type="hidden" name="channelNo" th:value="${channel.channelNo}" />

                    <div class="text-right">
                        <button type="submit" class="btn btn-danger" th:text="#{common.remove}">삭제</button>
                        <a th:href="@{~/admin/channel}" type="submit" class="btn btn-warning" role="button" th:text="#{common.cancel}">취소</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
