<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-default}">
<head>
    <title th:text="#{admin.contents.title}">콘텐츠관리</title>
    <script th:src="@{~/js/admin/search-contents.js}"></script>
</head>

<body>
    <div class="col-xs-12 col-sm-9" layout:fragment="~{admin}">
        <h3 class="idx-h3 idx-h3-frst" th:text="#{admin.contents.add.title}">콘텐츠 정보 추가</h3>

        <form th:action="@{~/admin/contents/add}" method="post" th:object="${contents}" class="form-horizontal">
            <input type="hidden" class="form-control" id="movieId" name="movieId" />
            <div class="form-group">
                <label for="channelNo" class="col-sm-2 control-label" th:text="#{common.channel}">채널</label>
                <div class="col-sm-10">
                    <select id="channelNo" th:field="*{channelNo}" class="form-control">
                        <option th:each="channel : ${channels}" th:value="${channel.channelNo}" th:text="${channel.channelName}">채널명</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="searchContents" class="col-sm-2 control-label" th:text="#{admin.contents.search}">콘텐츠 검색</label>
                <div class="col-sm-10">
                    <button type="button" id="searchContents" class="btn btn-primary" data-target="#searchModal" data-toggle="modal" th:text="#{common.search}">검색</button>
                </div>
            </div>
            <div class="form-group">
                <label for="contentsPosterUrl" class="col-sm-2 control-label" th:text="#{admin.contents.posterUrl}">포스터 URL</label>
                <div class="col-sm-10">
                    <input type="url" class="form-control" id="contentsPosterUrl" th:field="*{contentsPosterUrl}" th:placeholder="#{admin.contents.posterUrl.msg}" />
                    <p th:if="${#fields.hasErrors('contentsPosterUrl')}" th:errors="*{contentsPosterUrl}">포스터 URL 오류 메세지</p>
                </div>
            </div>
            <div class="form-group">
                <label for="contentsName" class="col-sm-2 control-label" th:text="#{admin.contents.contentsName}">콘텐츠명</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="contentsName" th:field="*{contentsName}" th:placeholder="#{admin.contents.contentsName.msg}" />
                    <p th:if="${#fields.hasErrors('contentsName')}" th:errors="*{contentsName}">콘텐츠명 오류 메세지</p>
                </div>
            </div>
            <div class="form-group">
                <label for="genre" class="col-sm-2 control-label" th:text="#{admin.contents.genre}">장르</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="genre" th:field="*{genre}" th:placeholder="#{admin.contents.genre.msg}" />
                    <p th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">장르 오류 메세지</p>
                </div>
            </div>
            <div class="form-group">
                <label for="nation" class="col-sm-2 control-label" th:text="#{admin.contents.nation}">국가</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nation" th:field="*{nation}" th:placeholder="#{admin.contents.nation.msg}" />
                    <p th:if="${#fields.hasErrors('nation')}" th:errors="*{nation}">국가 오류 메세지</p>
                </div>
            </div>
            <div class="form-group">
                <label for="releaseDate" class="col-sm-2 control-label" th:text="#{admin.contents.release}">개봉일</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="releaseDate" th:field="*{releaseDate}" th:placeholder="#{admin.contents.release.msg}" />
                    <p th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}">개봉일 오류 메세지</p>
                </div>
            </div>
            <div class="form-group">
                <label for="runningTime" class="col-sm-2 control-label" th:text="#{admin.contents.runningTime}">상영시간</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="runningTime" th:field="*{runningTime}" th:placeholder="#{admin.contents.runningTime.msg}" />
                    <p th:if="${#fields.hasErrors('runningTime')}" th:errors="*{runningTime}">상영시간 오류 메세지</p>
                </div>
            </div>
            <div class="form-group">
                <label for="director" class="col-sm-2 control-label" th:text="#{admin.contents.director}">감독</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="director" th:field="*{director}" th:placeholder="#{admin.contents.director.msg}" />
                    <p th:if="${#fields.hasErrors('director')}" th:errors="*{director}">감독 오류 메세지</p>
                </div>
            </div>
            <div class="form-group">
                <label for="actor" class="col-sm-2 control-label" th:text="#{admin.contents.actor}">주연</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="actor" th:field="*{actor}" th:placeholder="#{admin.contents.actor.msg}" />
                    <p th:if="${#fields.hasErrors('actor')}" th:errors="*{actor}">주연 오류 메세지</p>
                </div>
            </div>
            <div class="form-group">
                <label for="story" class="col-sm-2 control-label" th:text="#{admin.contents.story}">줄거리</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="story" th:field="*{story}" th:placeholder="#{admin.contents.story.msg}"></textarea>
                </div>
            </div>

            <!-- 추가 정보 -->
            <div class="form-group">
                <label for="youtubeVideoId" class="col-sm-2 control-label" th:text="#{admin.contents.youtubeVideoId}">유튜브 소개영상</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="youtubeVideoId" name="youtubeVideoId" th:placeholder="#{admin.contents.youtubeVideoId.msg}" />
                </div>
            </div>
            <!-- 추가 정보 끝 -->


            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" th:text="#{common.add}">추가</button>
                    <a th:href="@{~/admin/contents}" type="button" class="btn btn-warning" th:text="#{common.cancel}">취소</a>
                </div>
            </div>
        </form>

        <div class="modal fade" id="searchModal" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title modalLabel" th:text="#{admin.contents.search}">콘텐츠 검색</h4>
                    </div>
                    <div class="modal-body row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <form id="searchContentsForm">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button id="searchBtn" class="btn btn-default" type="button">[[#{common.search}]]</button>
                                            </span>
                                            <input type="text" class="form-control" id="searchText" name="searchText" th:placeholder="#{admin.contents.search.input}" />
                                        </div><!-- /input-group -->
                                    </form>
                                </div>
                            </div>

                            <hr class="border" />

                            <div class="row">
                                <div class="col-xs-12">
                                    <p id="page" class="text-right"></p>
                                    <div id="contentsList" class="list-group">
                                        <p class="text-center" th:text="#{admin.contents.input.searchWord}">검색어를 입력하세요.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.col-lg-6 -->
                    </div>
                    <div class="modal-footer text-left-imp">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" th:text="#{common.close}">닫기</button>
                        <div class=".pull-right text-right">
                            <button type="button" id="prev" class="btn btn-primary" th:text="#{common.prev.page}">이전페이지</button>
                            <button type="button" id="next" class="btn btn-primary" th:text="#{common.next.page}">다음페이지</button>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</body>
</html>
