<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-default}">
<head>
    <title>콘텐츠관리</title>
</head>

<body>
    <div class="col-xs-12 col-sm-9" layout:fragment="~{admin}">
        <h3 class="idx-h3 idx-h3-frst">콘텐츠정보</h3>

        <div class="row">
            <div class="col-md-3 col-xs-5">
                <img class="cont-img col-xs-12 img-responsive" th:src="${contents.contentsPosterUrl}" th:alt="${contents.contentsName} + '포스터 이미지'" />
            </div>
            <div class="col-md-9 col-xs-7">
                <h3 th:text="${contents.contentsName} + ' (' + ${contents.releaseDate} + ')'"></h3>
                <ul class="cont-info col-xs-12">
                    <li th:text="${contents.genre}">장르</li>
                    <li th:text="${contents.nation}">국가</li>
                    <li th:text="${contents.releaseDate} + ' 개봉'">개봉일</li>
                    <li th:text="${contents.runningTime}">상영시간</li>
                    <li th:text="'(감독) ' + ${contents.director}">감독</li>
                    <li th:text="'(주연) ' + ${contents.actor}">주연</li>
                    <li>
                        <a th:href="@{~/admin/contents}" type="button" class="btn btn-primary">목록</a>
                        <a th:href="@{~/admin/contents/mod(contentsNo=${contents.contentsNo})}" type="button" class="btn btn-warning">변경</a>
                        <a th:href="@{~/admin/contents/remove(contentsNo=${contents.contentsNo})}" type="button" class="btn btn-danger">삭제</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="cont-tab col-xs-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" th:class="${#strings.equals(tab, 'cont')} ? 'active'"><a th:href="@{~/admin/contents/view(contentsNo=${contents.contentsNo}, tab='cont')}" th:text="#{contents.tabs.cont}">콘텐츠</a></li>
                    <li role="presentation" th:class="${#strings.equals(tab, 'story')} ? 'active'"><a th:href="@{~/admin/contents/view(contentsNo=${contents.contentsNo}, tab='story')}" th:text="#{contents.tabs.story}">줄거리</a></li>
                    <li role="presentation" th:class="${#strings.equals(tab, 'etc')} ? 'active'"><a th:href="@{~/admin/contents/view(contentsNo=${contents.contentsNo}, tab='etc')}" th:text="#{contents.tabs.etc}">기타</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <ul class="cont-video" th:if="${#strings.equals(tab, 'cont')}">

                <li class="cont-thumb col-xs-4 col-sm-3 col-md-2">
                    <a class="contents-add" th:href="@{~/admin/contents/video/add(contentsNo=${contents.contentsNo})}">
                        <img class="img-responsive" th:src="@{~/img/video-add.png}" />
                    </a>
                    <a class="idx-thumb-tl text-center" th:href="@{~/admin/contents/video/add(contentsNo=${contents.contentsNo})}">영상추가</a>
                </li>

                <li th:each="video : ${videoList}" class="cont-thumb col-xs-4 col-sm-3 col-md-2">
                    <a th:href="@{~/admin/contents/video/mod(videoNo=${video.videoNo})}">
                        <img class="img-responsive" th:src="${#strings.equals(video.videoPosterUrl, '')} ? '/img/empty.png' : ${video.videoPosterUrl}" th:alt="${contents.contentsName} + ' ' + ${video.videoName} + '포스터 이미지'" />
                    </a>
                    <a class="idx-thumb-tl" th:href="@{~/admin/contents/video/mod(videoNo=${video.videoNo})}" th:text="${video.videoName}"></a>
                </li>

            </ul>

            <div class="cont-story col-xs-12" th:if="${#strings.equals(tab, 'story')}" th:text="${contents.story}">줄거리</div>

            <div class="cont-story col-xs-12" th:if="${#strings.equals(tab, 'etc')}">etc</div>
        </div>

    </div>
</body>
</html>
