<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-default}">
<head>
    <title th:text="#{admin.user.title}">사용자 관리</title>
    <script th:src="@{~/js/admin/user.js}"></script>
</head>

<body>
    <div class="col-xs-12 col-sm-9" layout:fragment="~{admin}">
        <h3 class="idx-h3 idx-h3-frst" th:text="#{admin.user.title}">사용자 관리</h3>

        <form th:action="@{~/admin/user}" method="get" class="form-horizontal">
            <div class="form-group">
                <input type="hidden" id="srchWd" th:value="${searchWord}" />
                <label for="searchWord" class="col-sm-2 control-label" th:text="#{admin.user.search}">사용자 검색</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="searchWord" name="searchWord" th:value="${searchWord}" th:placeholder="#{admin.user.search.searchWord}" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" th:text="#{common.search}">검색</button>
                </div>
            </div>
        </form>

        <hr class="px1" />

        <div id="userList" class="row">

            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="jumbotron">
                    <a class="add" th:href="@{~/admin/user/add}" th:title="#{admin.user.add}">+</a>
                </div>
            </div>

            <div th:each="user : ${userList}" class="col-xs-6 col-sm-4 col-md-3">
                <ul class="jumbotron">
                    <li th:text="${user.userName}">사용자이름</li>
                    <li th:text="${user.userId}">사용자아이디</li>
                    <li th:text="${user.email}">이메일주소</li>
                    <li class="text-center">
                        <a th:href="@{~/admin/user/mod(userNo=${user.userNo})}" class="btn btn-warning" role="button" th:text="#{common.modify}">수정</a>
                        <a th:if="${!#strings.equals(user.userId, 'admin')}" th:href="@{~/admin/user/remove(userNo=${user.userNo})}" class="btn btn-danger" role="button" th:text="#{common.remove}">삭제</a>
                    </li>
                </ul>
            </div>

        </div>

        <button id="next" class="col-xs-12 btn btn-info"><span class="caret"></span>&nbsp;&nbsp;<span th:text="#{common.next.page}">다음페이지</span></button>

    </div>
</body>
</html>
