<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-default}">
<head>
    <title>사용자관리</title>
</head>

<body>
    <div class="col-xs-12 col-sm-9" layout:fragment="~{admin}">
        <h3 class="idx-h3 idx-h3-frst">사용자관리</h3>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="srchWd" class="col-sm-2 control-label">사용자검색</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="srchWd" name="srchWd" placeholder="검색어를 입력하세요" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">검색</button>
                </div>
            </div>
        </form>

        <hr class="px1" />

        <div class="row">

            <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="jumbotron">
                    <a class="add" th:href="@{~/admin/user/add}">+</a>
                </div>
            </div>

            <div th:each="user : ${userList}" class="col-xs-6 col-sm-4 col-md-3">
                <ul class="jumbotron">
                    <li th:text="${user.userName}">사용자이름</li>
                    <li th:text="${user.userId}">사용자아이디</li>
                    <li th:text="${user.email}">이메일주소</li>
                    <li class="text-center">
                        <a th:href="@{~/admin/user/mod(userNo=${user.userNo})}" class="btn btn-warning" role="button">수정</a>
                        <a th:if="${!#strings.equals(user.userId, 'admin')}" th:href="@{~/admin/user/remove(userNo=${user.userNo})}" class="btn btn-danger" role="button">삭제</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</body>
</html>
