<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-default}">
<head>
    <title>사용자관리</title>
</head>

<body>
    <div class="col-xs-12 col-sm-9" layout:fragment="~{admin}">
        <h3 class="idx-h3 idx-h3-frst">사용자정보 변경</h3>

        <form th:action="@{~/admin/user/mod}" method="post" th:object="${user}" class="form-horizontal">
            <input type="hidden" th:field="*{userNo}" th:value="*{userNo}" />
            <div class="form-group">
                <label for="userId" class="col-sm-2 control-label">아이디</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="userId" th:field="*{userId}" placeholder="아이디를 입력하세요" th:value="*{userId}" readonly="readonly" />
                    <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">아이디 오류 메세지</p>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">이메일</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" th:field="*{email}" th:value="*{email}" placeholder="이메일을 입력하세요" />
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">이메일 오류 메세지</p>
                </div>
            </div>
            <div class="form-group">
                <label for="userName" class="col-sm-2 control-label">사용자이름</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="userName" th:field="*{userName}" th:value="*{userName}" placeholder="사용자이름을 입력하세요" th:readonly="${#strings.equals(user.userId, 'admin')}? 'readonly'" />
                    <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">사용자이름 오류 메세지</p>
                </div>
            </div>
            <div class="form-group">
                <label for="newPassword" class="col-sm-2 control-label">새로운 비밀번호</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="새로운 비밀번호 (선택입력)" />
                    <p th:if="${errorNewPassword} != null" th:text="${errorNewPassword}">새로운 비밀번호 오류 메세지</p>
                    <input type="hidden" name="password" value="notused" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="true" id="admin" name="admin" th:checked="*{admin}" th:disabled="${#strings.equals(user.userId, 'admin')}? 'disabled'" /> 관리자
                            <input type="hidden" th:field="*{admin}" th:value="*{admin}" th:if="${#strings.equals(user.userId, 'admin')}" />
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">변경</button>
                    <a th:href="@{~/admin/user}" type="submit" class="btn btn-warning" role="button">취소</a>
                </div>
            </div>
        </form>

    </div>
</body>
</html>
