<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-default}">
<head>
    <title th:text="#{admin.video.title}">영상 관리</title>
</head>

<body>
    <div class="col-xs-12 col-sm-9" layout:fragment="~{admin}">
        <h3 class="idx-h3 idx-h3-frst" th:text="#{admin.video.mod.title(${storedVideo.contents.contentsName}, ${storedVideo.videoName})}">영상 정보 수정 메세지</h3>

        <div class="row">
                <img class="col-xs-3 img-responsive" th:src="${#strings.equals(video.videoPosterUrl, '')} ? '/img/empty.png' : ${video.videoPosterUrl}" th:alt="#{common.contents.poster(${storedVideo.videoName})}" />
            <div class="col-xs-9">
                <div id="embed" class="embed-responsive embed-responsive-16by9">
                    <video id="player" controls="controls" autoplay="autoplay" class="embed-responsive-item">
                        <source th:src="${storedVideo.videoUrl}" />
                        <track kind="subtitles" srclang="ko" label="한국어" th:if="${storedVideo.subtitle} != null" th:src="@{~/subtitle(videoNo=${storedVideo.videoNo})}" default="default" />
                    </video>
                </div>
            </div>
        </div>

        <hr />

        <form th:action="@{~/admin/contents/video/mod}" method="post" th:object="${video}" enctype="multipart/form-data" class="form-horizontal">
            <input type="hidden" th:field="*{videoNo}" th:value="*{videoNo}" />
            <input type="hidden" th:field="*{contentsNo}" th:value="*{contentsNo}" />
            <div class="form-group">
                <label for="videoPosterUrl" class="col-sm-2 control-label" th:text="#{admin.video.posterUrl}">포스터 URL</label>
                <div class="col-sm-10">
                    <input type="url" class="form-control" id="videoPosterUrl" th:field="*{videoPosterUrl}" th:value="*{videoPosterUrl}" th:placeholder="#{admin.video.posterUrl.msg}" />
                    <p th:if="${#fields.hasErrors('videoPosterUrl')}" th:errors="*{videoPosterUrl}">영상 포스터 URL 오류 메세지</p>
                </div>
            </div>
            <div class="form-group">
                <label for="shareLinkUrl" class="col-sm-2 control-label" th:text="#{admin.video.shareLinkUrl}">구글 포토 공유 링크</label>
                <div class="col-sm-10">
                    <input type="url" class="form-control" id="shareLinkUrl" th:field="*{shareLinkUrl}" th:value="*{shareLinkUrl}" th:placeholder="#{admin.video.shareLinkUrl.msg}" />
                    <p th:if="${#fields.hasErrors('shareLinkUrl')}" th:errors="*{shareLinkUrl}">구글 포토 공유 링크 오류 메세지</p>
                </div>
            </div>
            <div class="form-group">
                <label for="videoName" class="col-sm-2 control-label" th:text="#{admin.video.videoName}">영상명</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="videoName" th:field="*{videoName}" th:value="*{videoName}" th:placeholder="#{admin.video.videoName.msg}" />
                    <p th:if="${#fields.hasErrors('videoName')}" th:errors="*{videoName}">영상명 오류 메세지</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">자막</label>
                <div class="col-sm-10"><p class="help-block" th:text="#{admin.video.subtitle.isExist(${storedVideo.subtitle} == null ? '없음' : '있음')}"></p></div>
            </div>
            <div class="form-group">
                <label for="subtitle" class="col-sm-2 control-label" th:text="#{admin.video.mod.subtitle}">자막 변경</label>
                <div class="col-sm-10">
                    <input type="file" id="subtitle" name="subtitleFile" class="form-control" />
                    <p th:if="${errProcSubtitle} != null" th:text="${errProcSubtitle}">자막 처리 오류 메세지</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">&nbsp;</label>
                <div class="col-sm-10">
                    <label for="no-subtitle">
                        <input type="checkbox" id="no-subtitle" name="no-subtitle" value="true" />&nbsp;
                        <span th:text="#{admin.video.mod.no.subtitle}">자막을 사용하지 않습니다.</span>
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" th:text="#{common.modify}">수정</button>
                    <a th:href="@{~/admin/contents/video/remove(videoNo=*{videoNo})}" class="btn btn-danger" th:text="#{common.remove}">삭제</a>
                    <a th:href="@{~/admin/contents/view(contentsNo=*{contentsNo})}" class="btn btn-warning" th:text="#{common.cancel}">취소</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
