<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-default}">
<head>
    <title>영상관리</title>
</head>

<body>
    <div class="col-xs-12 col-sm-9" layout:fragment="~{admin}">
        <h3 class="idx-h3 idx-h3-frst">콘텐츠 '퀵'에 영상 정보 추가</h3>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="videoPosterUrl" class="col-sm-2 control-label">포스터 URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="videoPosterUrl" name="videoPosterUrl" placeholder="포스터 URL을 입력하세요." />
                </div>
            </div>
            <div class="form-group">
                <label for="videoUrl" class="col-sm-2 control-label">영상 URL</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="videoUrl" name="videoUrl" placeholder="영상 URL을 입력하세요." />
                </div>
            </div>
            <div class="form-group">
                <label for="videoName" class="col-sm-2 control-label">영상명</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="videoName" name="videoName" placeholder="영상명을 입력하세요." />
                </div>
            </div>
            <div class="form-group">
                <label for="subtitle" class="col-sm-2 control-label">자막</label>
                <div class="col-sm-10">
                    <input type="file" id="subtitle" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">추가</button>
                    <a th:href="@{~/admin/contents/view}" class="btn btn-warning">취소</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
