body {
    background-color: #333;
    color: #fff;
}

.float-right {
    float: right;
}

.text-left-imp {
    text-align: left;
}

.border {
    border: 1px solid #e5e5e5;
}

#story {
    height: 200px;
}

hr.px1 {
    border-top: 1px solid #fff !important;
    border-bottom: 0px solid #fff !important;
}

hr {
    border: 1px solid #fff;
}

ul li {
    list-style-type: none;
}

.n-left {
    padding-left:0px !important;
}

.jumbotron {
    background-color: #222;
    padding:10px !important;
    margin-bottom: 20px !important;
    min-height:145px;
}

.jumbotron .add {
    display: block;
    text-align:center;
    font-size: 80px;
}

.jumbotron li {
    overflow-x:hidden;
    padding-top:5px;
}

.jumbotron li.v-title {
    padding:20px 0px;
}

.nav-tabs {
    border-bottom: 2px solid #fff !important;
}

.cont-tab {
    padding-top:20px !important;
}

.cont-tab .nav-tabs>li>a:hover,
 .cont-tab .nav-tabs>li>a:focus{
    color: #555 !important;
}

.cont-video {
    padding: 0px 15px;
}

.cont-thumb {
    padding-top:10px;
    padding-bottom:10px;
}

.cont-thumb img {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
}

.idx-thumb a.contents-add:hover,
 .idx-thumb a.contents-add:active{
    border: 1px solid #fff;
    display: block;
}

.cont-thumb a.contents-add:hover,
 .cont-thumb a.contents-add:active{
    border: 1px solid #fff;
    display: block;
}

.cont-thumb .b-icon {
    padding:2px 5px;
    background-color:#000;
    opacity:0.8;
    position: absolute;
}

ul.cont-info {
    padding-left:0px;
    padding-right:0px;
}

ul.cont-info li {
    padding:3px 0px;
}

.cont-img {
    padding: 10px 0px !important;
}

.cont-story {
    padding: 20px 20px;
    white-space: pre-line;
}

a, a:focus, a:hover {
    color: #fff;
}

a.search-item:hover {
    background-color: #ddd !important;
}

.search {
    padding:0px !important;
    padding-bottom:6px !important;
}

.search button {
    background-color: #222;
    color: #555;
    border: 1px solid #191919;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.search button:hover {
    color: #fff !important;
}

.search input {
    border: 1px solid #191919;
    border-left:0px;
}

.list-group-item {
	background-color: #ffffff !important;
}

.common-list-group-item {
	background-color: #222 !important;
    border-color: #191919 !important;
}

.idx-h3-frst {
    margin-top:0px !important;
}

.idx-h3 {
    border-bottom:2px solid #fff;
    padding:10px 0px;
}

.idx-lst-empt-msg {
    text-align:center;
    padding:100px 0px;
}

.idx-thumb {
    text-align:left;
    padding-bottom:10px;
}

.poster a:first-child {
    height:168.72px;
    display:block;
}

.poster a.remove {
    height:auto;
}

.poster a:first-child img {
    height:100%;
}

.idx-thumb-tl {
    display:block;
    margin:0px 5px;
    height: 20px;
    overflow: hidden;
}

.idx-thumb a img {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
}

#player {
    background-color: #000;
}

.rev-watching-btn {
    margin-top:10px;
    margin-bottom:10px;
}

.modalLabel,
.modal-body {
    color: #333 !important;
}

.modal-header .close {
    margin-top: -26px !important;
}

#select-subtitle {
    min-width: inherit;
}

@media (max-width:1199px) {
    .poster a:first-child {
        height:132.45px;
    }
}

@media (max-width:368px) {
    .poster a:first-child {
        height:35.989vw;
    }
}
