<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>콘텐츠</title>
</head>

<body>
    <div class="col-xs-12 col-sm-9" layout:fragment="~{contents}">

        <div class="row">
            <div class="col-md-3 col-xs-5">
                <img class="cont-img col-xs-12 img-responsive" th:src="${contents.contentsPosterUrl}" th:alt="${contentsName} + ' 포스터 이미지'" />
            </div>
            <div class="col-md-9 col-xs-7">
                <h3 class="idx-h3 idx-h3-frst" th:text="${contents.contentsName} + ' (' + ${contents.releaseDate} + ')'">콘텐츠명 (개봉일)</h3>
                <ul class="cont-info col-xs-12">
                    <li>
                        <a th:if="!${isDeck}" th:href="@{~/deck/add(contentsNo=${contents.contentsNo})}" type="button" class="btn btn-success">나중에 감상하고 싶습니다.</a>
                        <a th:if="${isDeck}" th:href="@{~/contents/deck/remove/(contentsNo=${contents.contentsNo})}" type="button" class="btn btn-warning">이미 본 콘텐츠입니다.</a>
                    </li>
                    <li th:text="${contents.genre}">장르</li>
                    <li th:text="${contents.nation}">국가</li>
                    <li th:text="${contents.releaseDate}">개봉일</li>
                    <li th:text="${contents.runningTime}">상영시간</li>
                    <li th:text="'(감독) ' + ${contents.director}">감독</li>
                    <li th:text="'(주연) ' + ${contents.actor}">주연</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="cont-tab col-xs-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" th:class="${#strings.equals(tab, 'cont')} ? 'active'"><a th:href="@{~/contents(contentsNo=${contents.contentsNo}, tab='cont')}" th:text="#{contents.tabs.cont}">콘텐츠</a></li>
                    <li role="presentation" th:class="${#strings.equals(tab, 'story')} ? 'active'"><a th:href="@{~/contents(contentsNo=${contents.contentsNo}, tab='story')}" th:text="#{contents.tabs.story}">줄거리</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <ul class="cont-video" th:if="${#strings.equals(tab, 'cont')}">

                <p class="idx-lst-empt-msg" th:if="${videoSize} == 0">추가된 영상이 없습니다.</p>

                <li th:if="0 < ${videoSize}" th:each="video : ${videoList}" class="cont-thumb col-xs-4 col-sm-3 col-md-2">
                    <a th:href="@{~/play(videoNo=${video.videoNo})}">
                        <img class="img-responsive" th:src="${#strings.equals(video.videoPosterUrl, '')} ? '/img/empty.png' : ${video.videoPosterUrl}" th:alt="${video.videoName} + ' 포스터 이미지'" />
                    </a>
                    <a class="idx-thumb-tl" th:href="@{~/play(videoNo=${video.videoNo})}" th:text="${video.videoName}"></a>
                </li>

            </ul>
            <div class="cont-story col-xs-12" th:if="${#strings.equals(tab, 'story')}" th:text="${contents.story}"></div>
        </div>

    </div>
</body>
</html>
