<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
<head>
    <title>콘텐츠</title>
</head>

<body>
    <div class="col-xs-12 col-sm-9" layout:fragment="~{contents}">

        <div class="row">
            <div class="col-md-3 col-xs-5">
                <img class="cont-img col-xs-12 img-responsive" src="http://img1.daumcdn.net/thumb/C155x225/?fname=http%3A%2F%2Fcfile79.uf.daum.net%2Fimage%2F175AEE4C4E1EABA1382421" alt="이미지" />
            </div>
            <div class="col-md-9 col-xs-7">
                <h3 class="idx-h3 idx-h3-frst" th:text="|퀵 (2016)|"></h3>
                <ul class="cont-info col-xs-12">
                    <li>코미디/범죄</li>
                    <li>한국</li>
                    <li>2016.12.12 개봉</li>
                    <li>116분</li>
                    <li>15세이상 관람가</li>
                    <li>(감독) 이언희</li>
                    <li>(주연) 성동일, 권상우, 이광수</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="cont-tab col-xs-12">
                <ul class="nav nav-tabs">
                    <li role="presentation" th:class="${#strings.equals(tab, 'cont')} ? 'active'"><a th:href="@{~/contents(tab='cont')}" th:text="#{contents.tabs.cont}">콘텐츠</a></li>
                    <li role="presentation" th:class="${#strings.equals(tab, 'story')} ? 'active'"><a th:href="@{~/contents(tab='story')}" th:text="#{contents.tabs.story}">줄거리</a></li>
                    <li role="presentation" th:class="${#strings.equals(tab, 'etc')} ? 'active'"><a th:href="@{~/contents(tab='etc')}" th:text="#{contents.tabs.etc}">기타</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <ul class="cont-video" th:if="${#strings.equals(tab, 'cont')}">

                <li th:each="i : ${#numbers.sequence(1, 20)}" class="cont-thumb col-xs-4 col-sm-3 col-md-2">
                    <a th:href="@{~/play}">
                        <img class="img-responsive" src="http://img1.daumcdn.net/thumb/C155x225/?fname=http%3A%2F%2Fcfile79.uf.daum.net%2Fimage%2F175AEE4C4E1EABA1382421" style="margin-left:auto; margin-right:auto; margin-bottom:5px;" />
                    </a>
                    <a class="idx-thumb-tl" th:href="@{~/play}" th:text="|${i}회|"></a>
                </li>

            </ul>


            <div class="cont-story col-xs-12" th:if="${#strings.equals(tab, 'story')}">
                대한민국 최초 탐정사무소 신!장!개!업!
                전 국민을 웃긴 추리 콤비 ‘혹’ 달고 돌아왔다!

                역대급 미제사건을 해결한 추리 콤비, 셜록 덕후 만화방 주인 ‘강대만’(권상우)과 광역수사대 레전드 형사 ‘노태수’(성동일)! 드디어 대한민국 최초 탐정사무소를 개업하고, 전직 사이버 수사대 에이스 ‘여치’(이광수)까지 영입하며 탐정으로서의 첫 발을 내딛는다.
                하지만 꿈과 현실은 다른 법! 기다리는 사건 대신 파리만 날리고, 생활비 압박에 결국 경찰서까지 찾아가 몰래 영업을 뛰기 시작한다.
                드디어 기다림 끝에 찾아온 첫 의뢰인. 게다가 성공보수는 무려 5천만 원! 자신만만하게 사건을 받아 든 세 사람은 파헤칠수록 꼬리에 꼬리를 무는 의심스러운 증거들로 혼란에 빠지기 시작하는데…

                "우리가 가는 길 미제사건이란 없다"
                6월, 최강 트리플 콤비의 본격 추리가 시작된다!
                ABOUT MOVIE ]

                “대한민국을 웃겼던 최강 추리 콤비의 컴백!”
                대한민국 최초 탐정사무소, 드디어 신!장!개!업!
                역대급 미제 살인사건을 해결하기 위해 비공식 합동추리작전을 펼쳤던 &lt;탐정: 더 비기닝&gt;(2015)의 ‘강대만’과 ‘노태수’가 드디어 ‘진짜 탐정’으로 돌아온다. 만화방을 운영하는 평범한 가장이자 한국의 셜록을 꿈꾸는 추리광이었던 ‘강대만’과 한때 광역수사대 전설의 식인상어라 불렸지만 대쪽 같은 성격 때문에 일개 형사로 좌천됐던 ‘노태수’. 이 극과 극의 두 사람이 전편을 통해 입증했던 의외의(?) 케미를 살려 탐정사무소를 개업한 것.

                &lt;탐정: 리턴즈&gt;는 셜록 덕후 만화방 주인 ‘강대만’(권상우)과 레전드 형사 '노태수'(성동일)가 탐정사무소를 개업, 전직 사이버수사대 에이스 '여치'(이광수)를 영입해 사건을 파헤치는 코믹범죄추리극. 만화방 주인에서 드디어 탐정이 된 ‘강대만’과 경찰 2계급 특진도 마다하고 그와 동업을 선언한 ‘노태수’는 &lt;탐정: 더 비기닝&gt;에 이어 또 한번 최강 추리 콤비의 역사를 다시 써 보일 예정. 고대하던 탐정사무소 첫 사건을 해결하기 위해 두 팔을 걷어붙인 두 사람은 3년 만의 귀환에 걸맞은 업그레이드된 케미와 웃음으로 관객들을 사로 잡을 것이다.

                이처럼 극중 ‘강대만’과 ‘노태수’로 다시 한 번 의기투합한 권상우와 성동일은 &lt;탐정: 리턴즈&gt;에 대한 애정을 아끼지 않았다. 특히 성동일은 “&lt;탐정: 더 비기닝&gt;보다 캐릭터도 풍성해지고 사건도 커져 볼거리가 훨씬 더 많아진 작품”이라고 자신해 다시 돌아온 &lt;탐정: 리턴즈&gt;를 반기는 예비 관객들의 기대를 더욱 고조시키고 있다.


                찰떡 호흡 콤비, 길쭉~한 혹 달고 돌아왔다?!
                권상우 X 성동일 X 이광수 어벤져스급 트리플 콤비 장착!
                돌아온 최강 추리 콤비, 권상우와 성동일의 조합에 배우 이광수가 사이버수사대 에이스 출신의 ‘여치’역으로 &lt;탐정: 리턴즈&gt;에 합류했다. 권상우의 ‘강대만’이 추리를, 성동일의 ‘노태수’가 수사를 책임진다면, 이광수의 ‘여치’는 젊은 혈기와 엉뚱한 허당미, 그리고 남다른 사이버수사력으로 탐정사무소의 전력을 보완한다. 위치 추적부터 도청까지 불법전문 사이버 흥신소를 운영하는 ‘여치’의 특기로 본격 활기를 더하는 &lt;탐정: 리턴즈&gt;는 전편의 코믹 추리 콤비를 넘어선 막강한 트리플 콤비를 선보인다.

                이처럼 새롭게 관객들을 찾아오는 &lt;탐정: 리턴즈&gt;의 트리플 콤비는 촬영 내내 스크린 안팎에서 찰떡 호흡을 선보였다. 권상우는 “전편에 이어 성동일 선배를 비롯한 여러 배우, 스태프들과 다시 같은 작품으로 함께 하게 돼 연기에도 정말 도움을 많이 받았다”며 시작부터 완벽했던 호흡을 자랑했다. 성동일 또한 “워낙 친하다 보니 각자의 연기만 생각하는 게 아닌 서로 주고받는 시너지가 컸다”고 밝히기도 했다. 여기에 합류한 이광수는 현장에서도 마치 원년 멤버처럼 두 배우들과 자연스러운 호흡을 보여주었다는 후문. “두 선배님들이 아이디어도 많이 주시고 도움도 많이 주셔서 항상 배우면서 재미있게 촬영했다”는 이광수의 활약 또한 &lt;탐정: 리턴즈&gt;에 대한 기대를 높인다. 특히 이러한 환상의 호흡은 매 촬영마다 난무(?)한 애드립이 이를 증명한다. 권상우는 “시나리오 자체도 재미있었지만 우리는 시나리오보다 훨씬 재미있게 찍었다. 매 신, 있는 그대로 찍은 신이 하나도 없는 것 같다”고 밝혔을 정도. 이에 연출을 맡은 이언희 감독은 “매 장면마다 세 배우 모두가 본인의 역할과 서로의 관계에 대해서 연기했다. 심지어 이광수 배우는 첫 촬영부터 성동일, 권상우 배우 사이에 너무 익숙하게 끼어들어 완벽한 호흡을 보여주었다.”고 덧붙여 이번 &lt;탐정: 리턴즈&gt;에서 세 주인공이 선보일 완벽한 트리플 케미에 이목이 집중되고 있다.


                웃음! 케미! 추리! 모든 것이 트리플 업!
                새로운 한국형 시리즈 영화 탄생 예고!
                2015년, 추석 연휴 극장가를 강타한 &lt;탐정: 더 비기닝&gt;은 어울릴 것 같지 않았던 권상우, 성동일의 완벽한 코믹추리콤비로 관객을 사로잡았다. 관객들의 뜨거운 반응으로 이른바 ‘입소문 흥행’을 일으킨 영화 &lt;탐정: 더 비기닝&gt;은 개봉 당시 쟁쟁했던 동시기 경쟁작들을 제치고 예매율 1위, 한국영화 박스오피스 1위를 기록하는 등 262만 관객을 동원, 시리즈 영화의 발판을 마련했다. 그로부터 3년 후, 드디어 &lt;탐정: 더 비기닝&gt;의 두 번째 시리즈 &lt;탐정: 리턴즈&gt;가 새로운 한국형 시리즈 영화의 탄생을 알리며 6월 극장가 웃음을 책임질 유일무이 코미디 영화로 관객을 찾아 온다.

                이처럼 관객의 성원에 힘입어 ‘리턴’한 영화 &lt;탐정: 리턴즈&gt;는 전편의 셜록 덕후 만화방 주인 ‘강대만’(권상우)과 광역 수사대 레전드 형사 ‘노태수’(성동일)가 다시 뭉쳐 본격적인 시리즈의 시작을 예고한다. 특히 최근 종영한 드라마 [라이브(Live)]부터 주말 저녁 예능 [런닝맨]까지 장르불문 맹활약하며 관객들의 이목을 사로잡고 있는 배우 이광수가 사이버 수사대 출신 ‘여치’로 합류, &lt;탐정&gt; 시리즈 특유의 캐릭터 간 케미와 코믹함을 맛깔나게 살릴 예정이다. 뿐만 아니라 이번 &lt;탐정: 리턴즈&gt;는 극의 중심을 이끄는 사건의 스케일과 추리의 범위를 확장, 시리즈의 사이즈를 키웠다. “웃음의 크기, 사건, 배우들까지 전편보다 모든 것이 커지고 강해졌다. &lt;007&gt; 시리즈처럼 건강이 허락되는 한 계속 &lt;탐정&gt;을 찍고 싶다”는 권상우의 자신 있는 소감이 전하듯 이번 영화 &lt;탐정: 리턴즈&gt;는 이전 작품을 뛰어 넘는 트리플 재미를 보장하며, &lt;탐정: 더 비기닝&gt;에 열광했던 관객을 비롯해 처음 만나게 될 관객들까지 완벽하게 사로잡을 것이다.
            </div>


            <div class="cont-story col-xs-12" th:if="${#strings.equals(tab, 'etc')}">
                etc
            </div>
        </div>

    </div>
</body>
</html>
