<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title th:text="#{index.title}">Cave</title>
    <script th:src="@{~/js/index.js}"></script>
</head>

<body>
    <div class="col-xs-12 col-sm-9" layout:fragment="~{contents}">

        <div class="row">
            <p class="idx-lst-empt-msg" th:if="${newContentsSize} == 0" th:text="#{index.recently.emptMsg}">최근에 추가된 콘텐츠가 없습니다.</p>
            <div id="youtube-playlist">
                <ul>
<!--                    <li> <iframe src="https://www.youtube.com/embed/n0CvxNbvSXk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </li>-->
                </ul>
            </div>
        </div>

        <h3 class="idx-h3 idx-h3-frst" th:text="#{index.recently}">최근 추가된 콘텐츠</h3>
        <div class="row">
            <p class="idx-lst-empt-msg" th:if="${newContentsSize} == 0" th:text="#{index.recently.emptMsg}">최근에 추가된 콘텐츠가 없습니다.</p>

            <div th:if="0 < ${newContentsSize}" th:each="newContents : ${newContentsList}" class="idx-thumb poster col-xs-4 col-sm-3 col-md-2">
                <a th:href="@{~/contents(contentsNo=${newContents.contentsNo})}">
                    <img class="img-responsive" th:src="${#strings.equals(newContents.contentsPosterUrl, '')} ? '/img/empty.png' : ${newContents.contentsPosterUrl}" th:alt="#{common.contents.poster(${newContents.contentsName})}" />
                </a>
                <a class="idx-thumb-tl" th:href="@{~/contents(contentsNo=${newContents.contentsNo})}" th:text="${newContents.contentsName}">콘텐츠명</a>
                <a class="idx-thumb-tl" th:href="@{~/contents(contentsNo=${newContents.contentsNo})}" th:text="${newContents.releaseDate}">개봉일</a>
            </div>

        </div>

        <h3 class="idx-h3" th:text="#{index.watching}">감상중인 콘텐츠</h3>
        <div class="row">
            <p th:if="${watchingSize} == 0" class="idx-lst-empt-msg" th:text="#{index.watching.emptMsg}">감상중인 콘텐츠가 없습니다.</p>

            <div th:if="0 < ${watchingSize}" th:each="watching : ${watchingList}" class=" idx-thumb col-xs-6 col-sm-4 col-md-4">
                <a class="remove" th:href="@{~/watching/remove(videoNo=${watching.videoNo})}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
                <a th:id="${watching.videoNo}" class="video-poster" th:href="@{~/play(videoNo=${watching.videoNo})}">
                    <img class="img-responsive" th:src="${#strings.equals(watching.video.videoPosterUrl, '')} ? '/img/empty.png' : ${watching.video.videoPosterUrl}" th:alt="#{common.contents.video.poster(${watching.contents.contentsName}, ${watching.video.videoName})}" />
                </a>
                <a class="idx-thumb-tl" th:href="@{~/play(videoNo=${watching.videoNo})}" th:text="${watching.contents.contentsName}">콘텐츠명</a>
                <a class="idx-thumb-tl" th:href="@{~/play(videoNo=${watching.videoNo})}" th:text="${watching.video.videoName}">영상명</a>
            </div>
        </div>

        <h3 class="idx-h3" th:text="#{index.afterwards}">나중에 감상할 콘텐츠</h3>
        <div class="row">
            <p th:if="${deckSize} == 0" class="idx-lst-empt-msg" th:text="#{index.afterwards.emptMsg}">나중에 감상할 콘텐츠</p>

            <div th:if="0 < ${deckSize}" th:each="deck : ${deckList}" class="idx-thumb poster col-xs-4 col-sm-3 col-md-2">
                <a class="remove" th:href="@{~/deck/remove(contentsNo=${deck.contentsNo})}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
                <a th:href="@{~/contents(contentsNo=${deck.contentsNo})}">
                    <img class="img-responsive" th:src="${#strings.equals(deck.contents.contentsPosterUrl, '')} ? '/img/empty.png' : ${deck.contents.contentsPosterUrl}" th:alt="#{common.contents.poster(${deck.contents.contentsName})}" />
                </a>
                <a class="idx-thumb-tl" th:href="@{~/contents(contentsNo=${deck.contentsNo})}" th:text="${deck.contents.contentsName}">콘텐츠명</a>
                <a class="idx-thumb-tl" th:href="@{~/contents(contentsNo=${deck.contentsNo})}" th:text="${deck.contents.releaseDate}">상영일</a>
            </div>
        </div>

    </div>
</body>
</html>
