<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>콘텐츠 보기</title>
</head>

<body>
    <div class="col-xs-12 col-sm-9" layout:fragment="~{contents}">
        <h3 class="idx-h3 idx-h3-frst" th:text="${contents.contentsName}">콘텐츠명</h3>
        <h4 th:text="${watchingVideo.videoName}">영상이름</h4>
        <div class="row">
            <div class="col-xs-12">
                <div id="embed" class="embed-responsive embed-responsive-16by9">
                    <video id="player" controls="controls" autoplay="autoplay" class="embed-responsive-item">
                        <source th:src="${watchingVideo.videoUrl}" />
                        <track kind="subtitles" srclang="ko" label="한국어" th:if="${watchingVideo.subtitle} != null" th:src="@{~/subtitle(videoNo=${watchingVideo.videoNo})}" default="default" />
                    </video>
                </div>
            </div>
        </div>

        <h4 class="idx-h3" th:text="#{play.contents.list}">관련 콘텐츠</h4>

        <div class="row">
            <ul class="cont-video">
                <li th:each="video : ${videoList}" class="cont-thumb col-xs-4 col-sm-3 col-md-2">
                    <p th:if="${watchingVideo.videoNo == video.videoNo}" class="b-icon">감상중</p>
                    <a th:href="@{~/play(videoNo=${video.videoNo})}">
                        <img class="img-responsive" th:src="${video.videoPosterUrl}" th:alt="${contents.contentsName} + ' ' + ${video.videoName} + ' 포스터 이미지'" />
                    </a>
                    <a class="idx-thumb-tl" th:href="@{~/play(videoNo=${video.videoNo})}" th:text="${video.videoName}">영상이름</a>
                </li>
            </ul>
        </div>

    </div>
</body>
</html>
