<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title th:text="#{play.title(${watching.contents.contentsName}, ${watching.video.videoName})}"></title>
    <script>
    /*<![CDATA[*/
        var watchingTime = [[${watching.watchingTime}]];
    /*]]>*/
    </script>
    <script th:src="@{~/js/play.js}"></script>
</head>

<body>
    <div class="col-xs-12 col-sm-9" layout:fragment="~{contents}">
        <input type="hidden" id="videoNo" name="videoNo" th:value="${watching.videoNo}" />
        <h3 class="idx-h3 idx-h3-frst" th:text="${watching.contents.contentsName}">콘텐츠명</h3>
        <h4 th:text="${watching.video.videoName}">영상이름</h4>
        <div class="row">
            <div class="col-xs-12">
                <div id="embed" class="embed-responsive embed-responsive-16by9">
                    <video id="player" controls="controls" autoplay="autoplay" class="embed-responsive-item">
                        <source th:src="${watching.video.videoUrl}" />
                        <track kind="subtitles" srclang="ko" label="한국어" th:if="${watching.video.subtitle} != null" th:src="@{~/subtitle(videoNo=${watching.videoNo})}" default="default" />
                    </video>
                </div>
            </div>
        </div>

        <a th:if="${isWatching}" th:href="@{~/watching/remove(videoNo=${watching.videoNo})}" type="button" class="btn btn-warning rev-watching-btn" th:text="#{common.already.watched}">이미 감상한 콘텐츠입니다.</a>

        <h4 class="idx-h3" th:text="#{play.contents.list}">관련 콘텐츠</h4>

        <div class="row">
            <ul class="cont-video">
                <li th:each="video : ${videoList}" class="cont-thumb col-xs-4 col-sm-3 col-md-2">
                    <p th:if="${watching.videoNo == video.videoNo}" class="b-icon" th:text="#{common.watching}">감상중</p>
                    <a th:href="@{~/play(videoNo=${video.videoNo})}">
                        <img class="img-responsive" th:src="${#strings.equals(video.videoPosterUrl, '')} ? '/img/empty.png' : ${video.videoPosterUrl}" th:alt="#{common.contents.video.poster(${watching.contents.contentsName}, ${video.videoName})}" />
                    </a>
                    <a class="idx-thumb-tl" th:href="@{~/play(videoNo=${video.videoNo})}" th:text="${video.videoName}">영상이름</a>
                </li>
            </ul>
        </div>

        <div class="row">
            <!-- Modal -->
            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">이어서 감상하기</h5>
                        </div>
                        <div class="modal-body">이전에 보던 부분부터 이어서 감상하시겠습니까?</div>
                        <div class="modal-footer">
                            <button id="toStart" type="button" class="btn btn-warning" data-dismiss="modal">처음부터</button>
                            <button id="toWatching" type="button" class="btn btn-primary">이어서 감상하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
